<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dataxservice.dao.DataJobLogDao">
    <select id="testCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_job_logs a
    </select>

    <insert id="addJobLog" parameterType="com.dataxservice.models.DataJobLog" useGeneratedKeys="true" keyProperty="dataJobLog.logRowId">
		INSERT INTO
		tb_data_job_log (
                data_job_id,
                log_id,
                log_body
		)
		VALUES (
				#{dataJobLog.dataJob.dataJobId},
				#{dataJobLog.logId},
				#{dataJobLog.logBody}
		)
	</insert>

	<select id="retrieveBiggestLogIdByJobId" resultType="java.lang.Integer">
        SELECT IFNULL(MAX(log_id), 0) FROM tb_data_job_log
		<where>
			<if test=" dataJobLog.dataJob.dataJobId > 0 ">
				AND data_job_id = #{dataJobLog.dataJob.dataJobId}
			</if>
		</where>
    </select>

</mapper>