<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dataxservice.dao.DataJobDao">
    <select id="testCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_job_log a
    </select>

    <insert id="addDataJob" parameterType="com.dataxservice.model.DataJob" useGeneratedKeys="true" keyProperty="dataJob.dataJobId">
		INSERT INTO
		tb_data_job (
            data_job_name
		)
		VALUES (
            #{dataJob.dataJobName}
		)
	</insert>

    <update id="updateDataJobStatus" parameterType="com.dataxservice.model.DataJob">
		UPDATE
			tb_data_job
		SET
			status = #{dataJob.status}
		WHERE
			data_job_id = #{dataJob.dataJobId}
	</update>

</mapper>