<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datax.plus.dao.DataSourceDao">
    <resultMap id="dataSource" type="com.datax.plus.model.DataSource">
        <id column="data_source_id" property="dataSourceId"/>
        <result column="data_source_type" property="dataSourceType"/>
        <result column="data_source_name" property="dataSourceName"/>
        <result column="db_host_url" property="dbHostUrl"/>
        <result column="db_username" property="dbUsername"/>
        <result column="db_password" property="dbPassword"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="pageRetrieveDataSource" resultMap="dataJob">
        SELECT
        a.data_source_id as data_source_id,
        a.data_source_type as data_source_type,
        a.data_source_name as data_source_name,
        a.db_host_url as db_host_url,
        a.db_username as db_username,
        a.db_password as db_password,
        a.status as status
        FROM tb_data_source a
        <where>
            <include refid="pageRetrieveDataSourceIfBlock"/>
        </where>
        LIMIT #{page.start},#{page.limit}
    </select>

    <sql id="pageRetrieveDataSourceIfBlock">
        <if test=" dataJob.dataJobId > 0 ">
            a.data_job_id = #{dataJob.dataJobId}
        </if>
    </sql>

    <select id="pageRetrieveDataSourceCount" resultType="java.lang.Long">
        SELECT
            COUNT(1) as total
        FROM tb_data_source a
        <where>
            <include refid="pageRetrieveDataSourceIfBlock"/>
        </where>
    </select>

    <insert id="addDataSource" parameterType="com.datax.plus.model.DataSource" useGeneratedKeys="true"
            keyProperty="dataSource.dataSourceId">
        INSERT INTO tb_data_source (
            data_source_type,
            data_source_name,
            db_host_url,
            db_username,
            db_password,
            status
        )
        VALUES (
            #{dataSource.dataSourceType},
            #{dataSource.dataSourceName},
            #{dataSource.dbHostUrl},
            #{dataSource.dbUsername},
            #{dataSource.dbPassword},
            #{dataSource.status}
        )
    </insert>

    <update id="updateDataSource" parameterType="com.datax.plus.model.DataSource">
        UPDATE
            tb_data_source
        SET
            data_source_type = #{dataSource.dataSourceType},
            data_source_name = #{dataSource.dataSourceName},
            db_host_url = #{dataSource.dbHostUrl},
            db_username = #{dataSource.dbUsername},
            db_password = #{dataSource.dbPassword},
            status = #{dataSource.status}
        WHERE data_source_id = #{dataSource.dataSourceId}
    </update>

</mapper>